                                                                               
      ,--.  ,---.,--.   ,--.,---.       ,---.     ,--. ,--.,--.   ,--.,--.     
      |  | /  O  \\  `.'  //  O  \     '.-.  \    |  | |  ||   `.'   ||  |     
 ,--. |  ||  .-.  |\     /|  .-.  |     .-' .'    |  | |  ||  |'.'|  ||  |     
 |  '-'  /|  | |  | \   / |  | |  |    /   '-.    '  '-'  '|  |   |  ||  '--.  
  `-----' `--' `--'  `-'  `--' `--'    '-----'     `-----' `--'   `--'`-----'  
                                                                               
+-----------+
 FichierTest
+-----------+

------Date de création : 15/12/2020 16:16
------Auteur : Adrien PESTEL
------Proposé par : InnovAction
------Liste de caractères spéciaux : ⬦ ◆ 

+-------+
 Classes 
+-------+
------ Classe : 
Coord abstact Classe mere : Point
----Attributs :
- int col
- int lig

----Méthodes :
# _ int getCol()
+ int getLig()


------ Classe : 
test1 final Classe mere : Coord
----Attributs :
- _ int nbUser
- int id
- String nom
- String prenom
- String pays
- int age
# int a1
# String a2
+ String a3
+ int a4

----Méthodes :
+ _ void main(args : String[])
+ int getId()
+ String[][] setAge(age : HashMap<Integer,String>)
+ int getAge()
+ String getPays()
+ String getPrenom()
+ void setNom(nom : String)
+ String getNom()
+ void setPrenom(prenom : String) abstract 
+ HashMap<String,Integer> setPays(pays : String[][])


------ Classe : 
Mystere
----Attributs :

----Méthodes :
+ _ void main(a : String[])
+ _ void positionnerDes(premierJoueur : int, tirageJoueur1 : int[], tirageJoueur2 : int[], gr : int[][])
- _ int[][] initGrille()
- _ void choixJoueurs(premierJoueur : int, tabTirage : int[], tirageJoueur1 : int[], tirageJoueur2 : int[])
- _ int[] lancerDes()
- _ String tabEnChaine(tab : int[][])
- _ String tabEnChaine(tab : int[])
+ _ Coord choixCoord(numJoueur : int, numDe : int)
- _ int choix(numJoueur : int, tab : int[])
- _ boolean testCdtsPlacement(coord1Col : int, coord1Lig : int, coord2Col : int, coord2Lig : int, grille : int[][], tirageJoueur : int[])
- _ boolean sontContigues(coord1Col : int, coord1Lig : int, coord2Col : int, coord2Lig : int)
- _ boolean desAutour(coordCol : int, coordLig : int, grille : int[][], valeurTestee : int)



