                                                                               
      ,--.  ,---.,--.   ,--.,---.       ,---.     ,--. ,--.,--.   ,--.,--.     
      |  | /  O  \\  `.'  //  O  \     '.-.  \    |  | |  ||   `.'   ||  |     
 ,--. |  ||  .-.  |\     /|  .-.  |     .-' .'    |  | |  ||  |'.'|  ||  |     
 |  '-'  /|  | |  | \   / |  | |  |    /   '-.    '  '-'  '|  |   |  ||  '--.  
  `-----' `--' `--'  `-'  `--' `--'    '-----'     `-----' `--'   `--'`-----'  
                                                                               
+-----------+
 FichierTest
+-----------+

------Date de création : 15/12/2020 16:50
------Auteur : Adrien PESTEL
------Proposé par : InnovAction
------Liste de caractères spéciaux : ⬦ ◆ 

+-------+
 Entités 
+-------+
------ Entité : Classe
Coord abstact Classe mère : Point
----Attributs :
- int col 
- int lig 

----Méthodes :
# int getCol() _ 
+ int getLig() 

----Associations :


------ Entité : Classe
test1 final Classe mère : Coord
----Attributs :
- int nbUser _ 
- int id 
- String nom 
- String prenom 
- String pays 
- int age 
# int a1 
# String a2 
+ String a3 
+ int a4 

----Méthodes :
+ void main(String[] args) _ 
+ int getId() 
+ String[][] setAge(HashMap<Integer,String> age) 
+ void setNom(String nom) 
+ String getNom() 
+ void setPrenom(String prenom) abstract  
+ int getAge() 
+ HashMap<String,Integer> setPays(String[][] pays) 
+ String getPays() 
+ String getPrenom() 

----Associations :


------ Entité : Interface
Actions abstact
----Attributs :

----Méthodes :

----Associations :



