                                                                               
      ,--.  ,---.,--.   ,--.,---.       ,---.     ,--. ,--.,--.   ,--.,--.     
      |  | /  O  \\  `.'  //  O  \     '.-.  \    |  | |  ||   `.'   ||  |     
 ,--. |  ||  .-.  |\     /|  .-.  |     .-' .'    |  | |  ||  |'.'|  ||  |     
 |  '-'  /|  | |  | \   / |  | |  |    /   '-.    '  '-'  '|  |   |  ||  '--.  
  `-----' `--' `--'  `-'  `--' `--'    '-----'     `-----' `--'   `--'`-----'  
                                                                               
+-----------------------+
 FichierTestAssociations
+-----------------------+

------Date de création : 16/12/2020 15:46
------Auteur : Adrien PESTEL
------Proposé par : InnovAction
Liste de caractères utilisés : <> (agrégation) <//> (composition) |> (héritage)

+-----------+
 Utilisation 
+-----------+
Un commentaire s'écrit de cette manière : //

Pour masquer un élément (attribut, méthode...), commentez le
	Exemple : //- int entierA

Pour ajouter une contrainte sur une association :
	ClasseA ------> ClasseB {contrainte}

Pour ajouter des multiplicités sur une association :
	ClasseA [0..1] ------> [1..*] ClasseB



+-------+
 Entités 
+-------+
------ Entité : Classe
Coord abstract
----Attributs :
- int col 
- int lig 
- int act 

----Méthodes :
# int getCol() _ 
+ int getLig() 

----Associations :
Coord -------|> Point


------ Entité : Classe
test1 final
----Attributs :
- int nbUser _ 
- int id 
- String nom 
- String prenom 
- String pays 
- int age 
- Coord coordonees 
# int a1 
# String a2 
+ String a3 
+ int a4 

----Méthodes :
+ void main(String[] args) _ 
+ int getId() 
+ String getNom() 
+ HashMap<String,Integer> setPays(String[][] pays) 
+ String getPrenom() 
+ String[][] setAge(HashMap<Integer,String> age) 
+ void setNom(String nom) 
+ int getAge() 
+ String getPays() 
+ void setPrenom(String prenom) abstract  

----Associations :
test1 -------|> Coord
test1 ------- Coord



------Fin
