                                                                               
      ,--.  ,---.,--.   ,--.,---.       ,---.     ,--. ,--.,--.   ,--.,--.     
      |  | /  O  \\  `.'  //  O  \     '.-.  \    |  | |  ||   `.'   ||  |     
 ,--. |  ||  .-.  |\     /|  .-.  |     .-' .'    |  | |  ||  |'.'|  ||  |     
 |  '-'  /|  | |  | \   / |  | |  |    /   '-.    '  '-'  '|  |   |  ||  '--.  
  `-----' `--' `--'  `-'  `--' `--'    '-----'     `-----' `--'   `--'`-----'  
                                                                               
+-----------+
 FichierTest
+-----------+

------Date de création : 16/12/2020 15:56
------Auteur : Adrien PESTEL
------Proposé par : InnovAction
Liste de caractères utilisés : <> (agrégation) <//> (composition) |> (héritage)

+-----------+
 Utilisation 
+-----------+
Un commentaire s'écrit de cette manière : //

Pour masquer un élément (attribut, méthode...), commentez le
	Exemple : //- int entierA <-- pour masquer UN attribut

	Exemple : //-----Attributs <-- pour masquer TOUS les attributs

Pour ajouter une contrainte sur une association :
	ClasseA ------> ClasseB {contrainte}

Pour ajouter des multiplicités sur une association :
	ClasseA [0..1] ------> [1..*] ClasseB



+-------+
 Entités 
+-------+
------ Entité : Classe
Quartier
----Attribut(s) :
- int col 
- int lig  

----Méthode(s) :
+ int getCol() 
+ int getLig() 

----Association(s) :
Quartier ------- Maison
Quartier ------- Immeuble

------ Entité : Classe
Maison
----Attribut(s) :
- int col 
- int lig  

----Méthode(s) :
+ int getCol() 
+ int getLig() 

----Association(s) :
Maison ------- Chambre
Maison ------- Cuisine

------ Entité : Classe
Chambre
----Attribut(s) :
- int col 
- int lig 

----Méthode(s) :
+ int getCol()
+ int getLig() 

----Association(s) :


------ Entité : Classe
Cuisine
----Attribut(s) :
- int col 
- int lig 

----Méthode(s) :
+ int getCol()
+ int getLig() 

----Association(s) :

------ Entité : Classe
Immeuble
----Attribut(s) :
- int col 
- int lig 

----Méthode(s) :
+ int getCol()
+ int getLig() 

----Association(s) :
Immeuble ------- Maison

------Fin
