                                                                               
      ,--.  ,---.,--.   ,--.,---.       ,---.     ,--. ,--.,--.   ,--.,--.     
      |  | /  O  \\  `.'  //  O  \     '.-.  \    |  | |  ||   `.'   ||  |     
 ,--. |  ||  .-.  |\     /|  .-.  |     .-' .'    |  | |  ||  |'.'|  ||  |     
 |  '-'  /|  | |  | \   / |  | |  |    /   '-.    '  '-'  '|  |   |  ||  '--.  
  `-----' `--' `--'  `-'  `--' `--'    '-----'     `-----' `--'   `--'`-----'  
                                                                               
+-----------------------+
 FichierTestAssociations
+-----------------------+

------Date de création : 16/12/2020 11:51
------Auteur : Adrien PESTEL
------Proposé par : InnovAction
------Liste de caractères spéciaux : ⬦ ◆ ▷ 

+-----------+
 Utilisation 
+-----------+
Un commentaire s'écrit de cette manière : //
Un commentaire s'écrit de cette manière : //

+-------+
 Entités 
+-------+
------ Entité : Classe
Coord abstract
----Attributs :
- int col 
- int lig 

----Méthodes :
# int getCol() _ 
+ int getLig() 

----Associations :
Coord -------▷ Point

------ Entité : Classe
test1 final
----Attributs :
- int nbUser _ 
- int id 
- String nom 
- String prenom 
- String pays 
- int age 
# int a1 
# String a2 
+ String a3 
+ int a4 

----Méthodes :
+ void main(String[] args) _ 
+ int getId() 
+ String getPrenom() 
+ HashMap<String,Integer> setPays(String[][] pays) 
+ String getPays() 
+ String getNom() 
+ void setPrenom(String prenom) abstract  
+ int getAge() 
+ String[][] setAge(HashMap<Integer,String> age) 
+ void setNom(String nom) 

----Associations :
test1 -------▷ Coord {chevauchement}

------ Entité : Interface
Actions abstract
----Attributs :

----Méthodes :

----Associations :



------Fin
