+-----------+
 FichierTest
+-----------+

------Date de création : 14/12/2020 22:45
------Auteur : Adrien PESTEL
------Proposé par : InnovAction

//Ceci est un commentaire sur une ligne

//Ceci est un
//commentaire sur
//plusieurs lignes

+-------+
 Entites
+-------+
------Entite : Enum
Coord
----Attributs :
- int dimension _
- int x
- int y
//- int z

----Méthodes :
+ int getDimension() _
+ int getX()
+ int getY()

------Classe :
Point abstract _ Classe mere : rond
----Attributs :
- int dimension_
- Coord coordonnes
# Grille grille
//Commentaire

----Méthodes :
+ int dimension_
+ Coord getCoord()
# Grille getGrille()

----Associations :
unidirectionnelle Disque 0..* -------> 1..1 Point
---Fin